<br>
<br>

<div class="skinny_wrapper wrapper_padding" >
  <h1>Honeys</h1>
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Change rank</th>
        <th>Image</th>
        <th>Name</th>
        <th>Description hu</th>
        <th>Description en</th>
        <th>Description de</th>
        <th>Orientation Landscape</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody id="honey_list">
      <%= render @honeys %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Honey', new_honey_path %>

  <br>

  <%= link_to 'Initialize ranks', honeys_set_ranks_path %>
</div>
