<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Willkommen</div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="varieties" class="container content-section contact-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Sorten</h2>
      <p>Wir verkaufen hochwertigen Honig direkt von ungarischen Produzenten in den folgenden Sorten:</p>
      <ul class="honey_list">
        <li>Akazienhonig</li>
        <li>Lindenhonig</li>
        <li>Rapshonig</li>
        <li>Sonnenblumenhonig</li>
        <li>Waldhonig</li>
        <li>Bl端tenhonig</li>
      </ul>
      <p>Wahlweise in Kombination mit getrockneten Fr端chten und / oder N端ssen. <br>
      Ansprechend verpackt, gerne gehen wir auch auf ihre besonderen W端nsche ein.</p>
    </div>
  </div>
</section>


<!-- Gallery Grid Section -->
<section id="gallery" class="bg-light-gray">
  <div class="container content-section">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Bilder</h2>
      </div>
    </div>
    <div class="row">
      <% (1..4).each do |i| %>
        <div class="col-md-4 col-sm-6 gallery-item">
          <%= link_to "#Honey_#{i}", class: "gallery-link", data: { toggle: "modal" } do %>
            <div class="gallery-hover">
              <div class="gallery-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <%= image_tag "honey/H_s_#{i}.jpg", class: "img-responsive img-honey" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="content-section text-center">
  <div class="contact-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Kontakt</h2>
<!--    <p>Feel free to email us!</p> -->
        <p>Honig Bolbas <br>
        www.honeybolbas.cloud <br>
        info@honeybolbas.cloud <br>
        +36 30 307 1157</p>
      </div>
    </div>
  </div>
</section>


<% (1..4).each do |i| %>
  <div class="gallery-modal modal fade" id="Honey_<%= i %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="modal-body">
            <%= image_tag "honey/H_s_#{i}.jpg", class: "img-responsive img-centered" %>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
