$color_a:         #fed136;
$color_navbar_a:  #fed136;
$color_bg:        #1c1411;
$color_contact:   rgb(56, 44, 5);

$font_nav:        'Clicker Script', cursive;
$font_header:     'Clicker Script', cursive;
$font_body:       'Clicker Script', cursive;
$font_admin:      'Montserrat', cursive;
