<!DOCTYPE html>
<html>
  <head>
    <title>HoneyBolbas</title>
    <%= csrf_meta_tags %>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script&amp;subset=latin-ext" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
